@{
    ViewData["Title"] = "Home Page";
}
<link href="style.css" rel="stylesheet">
<div class="main">
  <center><img src="~/logoMD.jpg" height="170" width="1000"></center>
</div>

<div class="sideright">
    <img src="~/doctMainlogo.jpg" alt="" />
</div>
<div class="main">
    <h1>The Best Telemedicine in Georgia! </h1>
   <center> <a href="" ><img src="~/signUP.png" height="90" width="350"></a></center>
</div>
<div class="main">
    <h1>Appointments</h1>
    <center><a href=""><img src="~/appt.png" height="90" width="350"></a</center>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>



